body {
    text-align: center;
}

h1 {
    margin-bottom: 5%;
}

.text-box {
    width: 40%;
    margin: 1% auto;
    max-height: 70vh;
    border-bottom: 1px solid gray;
    text-align: left;
}

#speech-text-input {
    width: 50%;
    margin: 1% auto;
    max-height: 70vh;
    line-height: 30px;
    border: none;
    padding: 1%;
    border-radius: 10px;
    background-color: lightyellow;
}

.text-box:focus {
    outline: none;
}

.listening {
    color: green;
}

.hidden {
    display: none;
}

.p5-canvas {
    background-color: black;
}

.microphone-button {
    font-size: 30px;
    color: blue;
    border-radius: 50%;
    padding: 2%;
}

.inline-display {
    display: inline-block;
}

.speech-container {
    text-align: flex;
}